.header {
  border-bottom: 3px solid black;
  font-family:"sans-serif";
  font-size: 30px;
  background-color: aqua;
  }

.header-logo{
  color:blue;
}

.header p{
  font-size: 15px;
}

.main{
  float: left;
  background-color: antiquewhite;
  width: 700px;
  height: 1500px;
}

.main h2{
  border-bottom: 5px solid red;
  font-size: 30px;
}

.main p{
  color: antiquewhite;
}

.url{
  font-size: 20px;
}

.url2{
  font-size: 20px;
}


.main-side{
  width: 250px;
  height: 1500px;
  background-color: rgb(174, 206, 209);
  float: right;
}

.site-url{
  color: green;
  margin-left: 10px;
}

.convinience{
  white-space: nowrap;
}

.game{
  white-space: nowrap;
}

.footer p{
  font-size: 25px;
}
